// Global
:root {
  font-size: 18px;
  --dynamic-vh: 100vh;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $colorWhite;
  font-family: $fontInter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $colorBlack;

  @include respond-max(md) {
    &.isLocked {
      overflow-y: hidden;
    }
  }
}

main {
  flex: 1 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

::selection {
  background-color: lightblue;
}
