// Helpers
.container {
  max-width: $totalMaxWidth;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include respond-max(xl) {
    max-width: map-get($container, xl);
  }

  @include respond-max(lg) {
    max-width: map-get($container, lg);
  }

  @include respond-max(md) {
    max-width: map-get($container, md);
  }

  @include respond-max(sm) {
    max-width: map-get($container, sm);
  }

  @include respond-max(xs) {
    max-width: map-get($container, xs);
    min-width: $containerMinWidth;
  }
}

.d-b {
  display: block;
}

// Flex utility classes
.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.fxw-w {
  flex-wrap: wrap;
}

// Grid utility classes
.d-g {
  display: grid;
}

.ji-c {
  justify-items: center;
}

.pi-c {
  place-items: center;
}

.img-fl {
  @include img-fluid();
}

.text-truncate {
  @include text-truncate();
}

.ta-c {
  text-align: center;
}
